body {
	--radius-s: 0px;
	--radius-m: 0px;
	--radius-l: 0px;
	--input-radius: 0px;
	--tab-radius-active: 0px;
	--checkbox-radius: 0px;
	--toggle-radius: 0px;
	--toggle-thumb-radius: 0px;
	--slider-thumb-radius: 0px;
    
}

.workspace-tab-header.is-active::before, .workspace-tab-header.is-active::after {
	display: none;
}

svg * {
	stroke-linecap: square;
	stroke-linejoin: miter;
	rx: 0;
	ry: 0;
}

.menu {
	padding: var(--size-2-1);
}

.menu-item {
	padding: var(--size-4-1) var(--size-4-2);
}

.menu-separator {
	margin: var(--size-2-1) calc(var(--size-2-1) * -1);
}

.theme-dark {

    --background-primary: #1a1a1a;
  --background-modifier-border: #3d3d3d;
  --background-primary-alt: #000000;
  --background-secondary: #0e0e0e;
  --background-secondary-alt: #000000;
  --background-modifier-box-shadow: rgba(0, 0, 0, 0.85);
  --background-nav-alt: rgb(75, 154, 173);
  --background-nav-file-tag: rgb(104, 7, 160);
  --background-nav-selected:  #833ed8;
  --background-nav: rgba(12, 12, 12, 0);


  --text-accent: #ff9640ba;
  --text-accent-hover: #5c43c2;
  --text-normal: #dcddde;
  --text-normal-original: #dcddde;
  --text-muted: #999;
  --text-faint: #666;
  --text-error: #ff3333;
  --text-error-hover: #990000;
  --text-matched: #0cf32b;
  --text-on-accent: #dcddde;
  --text-selection: rgba(73, 46, 116, 0.99);
  
    
    --h1-color: white;
    --h2-color: rgb(137, 59, 189);
    --h3-color: rgb(123, 45, 175);
    --h4-color: #d39869ba;
    --h5-color: #dcddde;
  
}
